<launch>
      <group ns="barrett">
      <node pkg="uvc_camera" type="uvc_stereo_node" name="uvc_camera_stereo">
        <param name="width" type="int" value="320" />
        <param name="height" type="int" value="240" />
        <param name="fps" type="int" value="30" />
        <param name="frame" type="string" value="wide_stereo" />
        <param name="left/rotate" type="bool" value="true" />
        <param name="right/device" type="string" value="/dev/video0" />
        <param name="left/device" type="string" value="/dev/video1" />
      </node>
      <!--
      <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera_stereo">
        <param name="width" type="int" value="1600" />
        <param name="height" type="int" value="1200" />
        <param name="fps" type="int" value="30" />
        <param name="frame" type="string" value="monocular_camera" />
        <param name="device" type="string" value="/dev/video0" />
      </node>
      -->
      <node pkg="perception_palm" type="perception_palm_node" name="perception_palm_node" output="screen" cwd="node"/>
      <node pkg="tf" type="static_transform_publisher" name="fixed_frame" args="0 0 0 0 0 0 map fixed_frame 100" />
      </group>
</launch>
